body {
  margin: 0;
  font-family: "Stockholm Type",sans-serif;
  color: rgb(255, 255, 255);
  background-color: #76368C;
}

.header {
  background-color: #470A68;
  color: white;
  margin-top: 2%;
  text-align: center;
  border: 1px solid #470A68;
}

h1 {
  font-size: 65px;
  color: white;
  max-width: 1700px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  color: black;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 100;
}

.item {
  margin: 5px;
  padding: 10px;
  width: 15%;
}

.item img {
  width: 100%;
}

.all-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}