
body {
  box-sizing: border-box;
  font-family: "Stockholm Type",sans-serif;
  color: black;
  background-image: url("WH-pattern.png"), url("WH-pattern.png");
  background-size:20%;
  background-color: #cccccc;
}

@font-face {
  font-family: 'Stockholm Type';
  src: url('../Stockholm-Type.otf'); 
}

.button {
  background-color: white;
  color: #76368C;
  padding: 30px;
  border-radius: 60px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
}

h1 {
  margin: 0px;
  font-size: 45px;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 20px;
  font-weight: 100;
  color: black;
}

h4 {
  font-size: 58px;
  font-weight: 800;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

h5 {
  font-size: 30px;
  font-weight: 100;
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  font-weight: 200;
  color: black;
}

.header {
  background-color: #76368C;
  padding: 20px 0px;
  color: white;
  text-align: center;
  margin: auto;
  width: 80%;
}

.title {
  background-color: #470A68;
  padding: 20px 0px;
  color: white;
  text-align: center;
  margin: auto;
  width: 80%;
}

.text {
  background-color: #C5B4D9;
  padding: 30px 70px;
  margin: auto;
  width: 70%;
}

footer {
  background-color: #470A68;
  padding: 50px 0px;
  margin: auto;
  display:block;
  width: 80%;
}

.footer {
  background-color: #470A68;
  color: white;
  text-align: center;
  margin: auto;
}

.all-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

hr {
  border: 1px solid #76368C;
  margin-top: 40px;
  margin-bottom: 40px;
}